{% extends 'base.html' %}

{% block content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Checklists Preenchidos</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Ambiente</th>
                                            <th>Checklist</th>
                                            <th>Itens Realizados</th>
                                            <th>Imagem</th>
                                            <th>Data</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in page_obj %}
                                        <tr>
                                            <td> {{ i.ambiente.descricao }}</td>
                                            <td> {{ i.checklist.descricao }}</td>
                                            <td> {{ i.itens }}</td>
                                            <td> <img src="{{ i.foto_checklist_depois.url }}" height="150px" width="150px" alt=""> </td>
                                            <td> {{ i.data_hora }}</td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Início</a>
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </span>
</div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Confirm Delete -->

<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">Tem Certeza?</h5>
                 <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">×</span>
                 </button>
             </div>
             <div class="modal-body confirm-delete">Confirme abaixo para excluir.</div>


                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-danger" type="button" id="confirmDeleteButtonModal" >Delete </button>
                    </div>

    </div></div>
</div>




{% endblock %}