{% extends 'base.html' %}

{% block content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Ambientes</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Entidade</th>
                                            <th>Descrição</th>
                                            <th>Área</th>
                                            <th>QrCode</th>
                                            <th>Visualizar</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Código</th>
                                            <th>Entidade</th>
                                            <th>Descrição</th>
                                            <th>Área</th>
                                            <th>QrCode</th>
                                            <th>Visualizar</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for i in ambientes %}
                                        <tr>
                                            <td> {{ i.codigo }}</td>
                                            <td> {{ i.entidade }}</td>
                                            <td> {{ i.descricao }}</td>
                                            <td> {{ i.area }}</td>
                                            <td> <a href="{% url 'control:qrcode' i.id %}" target="_blank"><i class="fa fa-qrcode" aria-hidden="true"></i></a></td>
                                            <td><i class="fa fa-search" aria-hidden="true"></i></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

{% endblock %}